{
    
}
header{
    background-image: url("header-wood.jpg");
    background-size: cover;
    height: 127px;
    width: 1268px;

}

header .right-picture{
    width: 110px;
    border-radius: 16px;
    box-shadow: 2px 2px 4px #000;
    float: right;
    margin: auto;
    margin-top: 7px;
    margin-right: 8px;
}

body {
    background-color: #000;
}
.nightsky {
    background-image: url("nightsky1.jpg");
    width: 680px;
    margin-top: 45px;
    margin-right: 40px;
    border-radius: 16px;
    float: right;
    
}

.menu ul{
    text-align: center;
    display: block; 
    margin-top: 15px;
}
.menu ul li{
    display: inline-block;
    margin-top: 34px;
}

.menu ul li a{
    color: rgb(59, 58, 58);
text-shadow: 2px 2px 4px #000000;
margin: auto;
padding: 25px;
font-size: 45px;
list-style-type: none;
text-decoration: none;
text-decoration-color: #808080;
}

.menu ul li a:hover{
    background-color: rgba(0, 0, 0, 0.342);
    color: rgb(121, 85, 85);
    border-radius: 40%;
}
.text1 > p {
    color: #808080;
    font-family: 'IM Fell Double Pica', serif;
    margin-top: 170px;
    font-size: 38px;
    text-align: center;
    text-decoration: none;
}

div {
    width: 300px
    border: 25px solid #222020
    border-radius: 50px
    padding-top: 200px
    padding: 150px
    margin: 25px
}

.aboutme {
    font-size: 25px;
    color: rgb(148, 155, 161);
    padding-top: 150px;
    padding-left: 120px;
    padding-right: 120px;
    text-align: center;
}